* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
}

header {
    background-color: #2c3e50;
    color: white;
    grid-column: 1 / 4;
    padding: 1rem;
}

nav {
    background-color: #34495e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.left-sidebar {
    background-color: #ecf0f1;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 1rem;
}

main {
    background-color: #ffffff;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 1rem;
}

.right-sidebar {
    background-color: #ecf0f1;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    padding: 1rem;
}

footer {
    background-color: #bdc3c7;
    grid-column: 1 / 4;
    padding: 1rem;
}