:root {
    --primary-color: #2e5a88;
    --secondary-color: #222222;
    --accent-color: #ffd700;
    --light-text: #ffffff;
    --dark-text: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: block;
}

header span {
    display: block;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--light-text);
    border-bottom: var(--accent-color-ghost) 1px solid;
}

header nav {
    display: flex;
    background-color: var(--secondary-color);
}

header nav a {
    color: var(--light-text);
    text-decoration: none;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}


header nav a:hover {
        background-color: transparent;
        color: var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
        padding-bottom: calc(1rem - 2px);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1300px;
    gap: 0 0.7rem;
    width: 100%;
    align-self: center;
    margin: 0 auto;
    text-align: center;
}

main h1 {
    grid-column: 1/3;
    padding: 1rem;
}

.card {
    border-radius: 12px;
    border: 1px solid var(--secondary-color);
    overflow: hidden;
}

.card p {
    text-indent: 3rem;
}

.card h2 {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--light-text);
    text-align: center;
}

.card1 {
    grid-column: 1/2;
    height: auto;
    text-align: left;
}

.card img {
    float: right;
    border-radius: 5px;
}

.card2 {
    grid-column: 2/3;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.card2 h2 {
    width: 100%;
}

.card2 ul.card-content {
    padding: 2rem;
    text-align: left;
    width: fit-content;
    margin: auto;
}

.card2 li {
    margin-bottom: 1rem;
}

.card-content {
    padding: 1rem;
}

.card-content img {
    margin-left: 1rem;
}

.card-content h3 {
    text-align: center;
    margin: 1rem 0px;
    border-bottom: var(--secondary-color) 1px solid;
    overflow: hidden;
}

.lower-content {
    display: flex;
    justify-content: center;
    text-align: left;
}

.flag-container span {
    color: #333333;
    display: block;
    text-align: center;
}

.lower-content img {
    border-radius: 2px;
    box-shadow: 1px 1px 2px var(--secondary-color);
    float: none;
    margin: 0px;
}

.lower-content p {
    padding-left: 1rem;
}

footer {
    margin-top: 2rem;
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--light-text);
    width: 100%;
    text-align: center;
    padding: 1rem;

}

#lastModified {
    color: var(--accent-color);
}