@media (min-width: 640px) {
    nav {
        display: flex;
    }

    nav.open {
        display: flex;
        flex-direction: row;
        position: relative;
        width: auto;
        background: none;
    }

    #menu {
        display: none;
    }
}